@use "sass:color";

@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.pagination {
  display: flex;
  @include margin-top(2);

  .previous,
  .next {
    padding: 0 24px;
    width: 50%;

    .previousLink,
    .nextLink {
      color: var(--color-primary);
      font-size: 20px;
      font-weight: bold;
      transition: color 0.2s;

      &:hover,
      &:focus {
        color: var(--color-secondary);
      }

      &.disable {
        color: $color-dark-cloud;
        pointer-events: none;
      }
    }
  }

  .previous {
    text-align: right;
  }

  .next {
    text-align: left;
  }
}
