@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.cover {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 24px 48px -8px,
    rgba(0, 0, 0, 0.22) 0px 16px 32px -8px;
  transition:
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.feed {
  display: flex;
  flex-flow: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin: 0px -24px;

  .item {
    @include margin-bottom(1.25);

    color: rgb(60, 63, 69);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: block;
    flex: 0 0 50%;
    margin-bottom: 48px;
    padding: 0px 24px;
    box-sizing: border-box;

    &:hover .cover {
      transform: translateY(-2px) scale3d(1.02, 1.02, 1);
    }

    &:last-child {
      @include margin-bottom(0.5);
    }

    .title {
      padding-left: 16px;
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(0.5);

      .link {
        color: var(--color-typographic-base-font);

        &:hover,
        &:focus {
          border-bottom: 1px solid $color-dark;
          color: var(--color-typographic-base-font);
        }
      }
    }

    .description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    .meta {
      margin-top: 10px;
      padding-left: 16px;

      .time {
        color: var(--color-typographic-base-font);
        font-size: $typographic-small-font-size;
        font-weight: 600;
        text-transform: uppercase;
      }

      .divider {
        @include margin(0, 0.5);
      }

      .category {
        .link {
          color: var(--color-primary);
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-blue;
          }
        }
      }
    }

    .more {
      color: var(--color-primary);
      font-size: $typographic-base-font-size;

      &:hover,
      &:focus {
        border-bottom: 1px solid $color-blue;
        color: var(--color-primary);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .feed {
    .item {
      flex: 0 0 100%;
      overflow: hidden;
      margin-bottom: 24px;
      border-radius: 8px;
      padding: 0;
      box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 16px 48px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
