@charset "UTF-8";

@import "variables";
@import "themes";
@import "mixins";
@import "base";

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;
}

* {
  text-wrap: pretty !important;
  word-break: break-all !important;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}
::-o-scrollbar {
  display: none;
}
