@charset "UTF-8";

@import "variables";
@import "themes";
@import "mixins";
@import "base";

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;
}

code {
  text-wrap: pretty;
  word-break: break-all;
}
