@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.title,
.time,
.body,
.description {
  @include padding(0, 0);
}

.cover {
  height: 350px;
  margin: 48px 0;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 24px 48px -8px,
    rgba(0, 0, 0, 0.22) 0px 16px 32px -8px;
  transition:
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.time {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  word-break: break-word;
  margin-top: 50px;
}

.description {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 200;
}

.content {
  @include margin-auto();
  max-width: $layout-post-single-width;

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    margin: 0;
    @include line-height(1.5);
  }

  .body {
    figure {
      @include margin-bottom(1);

      blockquote {
        font-style: italic;
        text-align: center;
        @include margin-top(0);
        @include padding(1, 0);

        p {
          font-size: $typographic-base-font-size * 1.6817;
          max-width: $layout-post-width;
          @include margin-top(0);
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }

    a {
      text-decoration: underline;
    }

    * {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-post-width;
    }

    h2 > a {
      visibility: hidden;

      & > svg {
        fill: var(--color-typographic-base-font);
      }
    }

    img {
      max-width: 100%;
    }
  }
}

@include breakpoint-md {
  .content {
    .time {
      margin-top: 88px;
    }

    .body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }

      h2 > a {
        visibility: unset;
        @include padding-right(0.5);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .title,
  .time,
  .body,
  .description {
    padding-left: 48px;
    padding-right: 48px;
  }

  .body {
    padding-left: 26px;
    padding-right: 26px;
  }
}