// Custom styles

#tocbot {
  .tocbot-list {
    li {
      margin: 8px 0;
      font-size: 14px;
    }
  }
}

.container {
  .row.mb-4.mx-auto {
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    border-radius: 6px;
  }

  .category-tree-list {
    list-style none
  }

  .category-tree-list-item {
    border-bottom 1px solid #dfe2e5
    padding 10px
  }
  
  .list-group-item.list-group-item-action {
    border 1px solid #dfe2e5
  }
}

figure.iseeu.highlight {
  overflow auto
}