// Custom styles

.row {
  padding 1rem .5rem
}

.top-nav-collapse {
  background #000
  opacity .7
}

.index-excerpt {
  .index-text.mb-1 {
    font-size 14px
  }
}

.col-12.col-md-8.m-auto {
  font-size 14px
}

#tocbot {
  .tocbot-list {
    li {
      margin: 8px 0;
      font-size: 14px;
    }
  }
}

.container {
  .row.mb-4.mx-auto {
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    border-radius: 6px;
  }

  .category-tree-list {
    list-style none
    padding-left 0
  }

  .category-tree-list-item {
    border-bottom 1px solid #dfe2e5
    padding 10px
  }
  
  .list-group-item.list-group-item-action {
    border 1px solid #dfe2e5
  }
}

figure.iseeu.highlight {
  overflow auto
}