// mac Panel效果代码块相关

/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(32, 201, 151, .7);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

// 搜索css bug
label[for="local-search-input"], label[for="local-search-input"]:after {
    width 100%
}

.highlight-wrap table {
    display: table;

    .gutter {
        text-align: center;
    }

    .keyword {
        color: #e83e8c
    }

    .string {
        color #9c9
    }

    .built_in {
        color #69c
        font-weight bold
    }

    .number {
        color #f99157    
    }

    .comment {
        color #999
    }

    .params {
        color #de5d14
    }
}

.highlight-wrap[data-rel] {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
    margin: 35px 0;
}
.highlight-wrap[data-rel]::-webkit-scrollbar {
    height: 10px;
}
.highlight-wrap[data-rel]::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.highlight-wrap[data-rel]::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.highlight-wrap[data-rel]::before {
    color: white;
    content: attr(data-rel);
    height: 38px;
    line-height: 38px;
    background: #21252b;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 0px 80px;
    text-indent: 15px;
    float: left;
}
.highlight-wrap[data-rel]::after {
    content: ' ';
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    top: 0;
    left: 20px;
    margin-top: 13px;
    -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    z-index: 3;
}
.highlight-wrap[data-rel] pre{
    box-sizing: border-box;
    padding: 45px 8px 10px;
    margin-bottom: -0.01rem;
}

.highlight-wrap[data-rel] .gutter pre{
    border-right: 1px solid #dfe2e5;
    border-radius: 0;
}

.markdown-body table td, .markdown-body table th {
    padding:0;
}

.markdown-body table td, .markdown-body table th {
    border: none;
    border-bottom: 1px solid #dfe2e5;
}


.highlight-wrap:focus {
    outline: none;
}