@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  @include padding(1, 0, 0, 0);

  .content {
    @include margin-auto();
  }

  .footerWrapper {
    padding: 0 26px;
  }

  .footer {
    max-width: $layout-post-width;
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    min-height: 378px;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .buttons {
    padding-left: 25px;
  }
}
