@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  @include padding(1, 0, 0, 0);

  .content {
    @include margin-auto();
  }

  .footer {
    max-width: $layout-post-width;
    padding-left: 26px;
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    min-height: 378px;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .buttons {
    padding-left: 25px;
  }
}

@include breakpoint-sm {
  .post {
    .footer {
      @include padding-equal(0);
    }

    .comments {
      @include padding-equal(0);
    }
  }
}
