/* Reset
  =============== */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove figure margin
figure,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 44px 0 0 0;
  font-weight: bold;

  svg {
    display: none;
  }
}

code {
  font-family: Inconsolata;
}

input,
textarea {
  font-family: Inconsolata;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.8;
  font-family: Inconsolata;
  overflow-x: hidden;
}
// code {
//   margin:0;
//   padding: 0;
//   border-radius: 0;
//   background: transparent;
//   font-family: 'Roboto Mono', Consolas, Menlo, Monaco, courier;
// }

p,
li {
  font-weight: 300;
  font-family: Inconsolata;
}

hr {
  position: relative;
  width: 12px;
  margin: 48px auto;
  border: none;
  border-top: 1px solid #989da3;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    width: 2px;
    border: none;
    border-top: 1px solid #989da3;
  }

  &:before {
    top: -1px;
    left: -4px;
  }

  &:after {
    top: -1px;
    right: -4px;
  }
}
